body {
  margin: 0;
 overflow-x:hidden
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(59, 59, 59, 0.2);
}
.modal-main {
  padding: 20px;
  position:fixed;
  background: white;
  width: 50%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}